.ctn_chapter_grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    margin-bottom: var(--spacing-600);
}

.header {
    display: flex;
    gap: var(--spacing-200);
    justify-content: space-between;
    align-items: center;
}

.sub_info {
    display: flex;
    align-items: center;
    color: var(--color-grey-600);
    gap: var(--spacing-200);
}

.chapter_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 120px;
    gap: var(--spacing-500);
    height: 100%;
    min-height: 500px;
}

.no_chapters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: var(--spacing-500);
    color: var(--color-grey-600);
}

.chapter_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
    padding: var(--spacing-400);
    border: var(--border-width-thin) solid var(--color-grey-500);
    border-radius: var(--border-radius-md);
    background-color: var(--white-color);
    transition: var(--transition-normal);
    color: var(--black-color);
    font-size: var(--font-size-800);
    font-weight: var(--font-weight-800);
    text-decoration: none;
}

.chapter_link.completed {
    border-color: var(--success-color);
}

.chapter_link:hover {
    background-color: var(--color-grey-200);
}

.completed_container {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    .chapter_grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-auto-rows: 80px;
    }

    .completed_container {
        top: 4px;
        right: 4px;
    }
}
