.continue_btn {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-200) var(--spacing-400);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-400);
    text-decoration: none;
    color: var(--white-color);
    transition: var(--transition-normal);
    text-transform: capitalize;
}

.continue_btn:hover {
    background-color: var(--primary-color-hover);
}