.ctn_metrics {
    background-color: var(--white-color);
    padding: var(--spacing-500);
    border-radius: var(--border-radius-lg);
}

.ctn_metrics .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-500);
}

.ctn_metrics .header_centered {
    justify-content: center;
}

.ctn_metrics .header .title {
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-200);
    color:  var(--color-grey-600);
}

.ctn_metrics .ctn_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-500);
}

.ctn_metrics .ctn_content .metrics {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    gap: var(--spacing-200);
}

.ctn_metrics .ctn_content .metrics .metrics_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-200);
}

.ctn_metrics .ctn_content .metrics .metrics_title .metrics_text {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-200);
    color:  var(--black-color);
    text-align: center;
}


.ctn_metrics .ctn_content .metrics .metrics_count {
    font-size: var(--font-size-800);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-200);
    color: var(--black-color);
}

.ctn_metrics .no_user_message {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.ctn_metrics .no_user_message p {
    font-family: var(--primary-font);
    font-size: var(--font-size-300);
    color: var(--color-grey-600);
}

.ctn_metrics .no_user_message a {
    font-family: var(--primary-font);
    font-size: var(--font-size-300);
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: var(--spacing-200) var(--spacing-300);
    border-radius: var(--border-radius-md);
    text-decoration: none;
    transition: var(--transition-normal);
    max-width: max-content;
    margin: 0 auto;
}

.ctn_metrics .no_user_message a:hover {
    background-color: var(--primary-color-hover);
}

@media (max-width: 768px) {
    .ctn_metrics .header {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--spacing-400);
    }

    .ctn_metrics .ctn_content .metrics .metrics_title {
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .ctn_metrics .header {
        justify-content: center;
    }
    
    .ctn_metrics .ctn_content {
        grid-template-columns: 1fr;
    }

    .ctn_metrics .ctn_content .metrics {
        flex-direction: row;
        justify-content: space-around;
    }
}