.ctn_metrics__global {
    display: flex;
    gap: var(--spacing-500);
    margin-bottom: var(--spacing-600);
}

.ctn_metrics__global .metric:first-child {
    max-width: 100%;
    width: 100%;
}

.ctn_metrics__global .metric {
    max-width: 211px;
    width: 100%;
}

.ctn_metrics__global .metric > div {
    height: 100%;
}