.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.icon_size_tiny {
    width: 18px;
    height: 18px;
}

.icon_size_small {
    max-width: 24px;
    max-height: 24px;
}

.icon_size_medium {
    max-width: 48px;
    max-height: 48px;
}

.icon_size_large {
    max-width: 64px;
    max-height: 64px;
}

.icon_size_full {
    width: 100%;
    height: 100%;
}

.icon_color_primary svg{
    color: var(--primary-color);
}

.icon_color_secondary svg{
    color: var(--secondary-color);
}

.icon_color_grey svg {
    color: var(--color-grey-500);
}

.icon_color_green svg {
    color: var(--success-color);
}

.icon_color_black svg {
    color: var(--black-color);
}

.icon_color_white svg {
    color: var(--white-color);
}