.icon_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--color-grey-400);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition-normal);
  text-decoration: none;
  color: inherit;
}

.icon_button_circle {
  border-radius: var(--border-radius-full);
}

.icon_button:hover {
  background: var(--color-grey-600);
}

.icon_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tamaños */
.icon_button_icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.icon_button_small {
  width: 32px;
  height: 32px;
  padding: var(--spacing-100);
}

.icon_button_medium {
  width: 40px;
  height: 40px;
  padding: var(--spacing-200);
}

.icon_button_large {
  width: 48px;
  height: 48px;
  padding: var(--spacing-300);
}

.icon_size_small svg {
  width: 16px;
  height: 16px;
}

.icon_size_medium svg {
  width: 24px;
  height: 24px;
}

.icon_size_large svg {
  width: 32px;
  height: 32px;
}

/* Variantes */
.icon_button_default {
  background: var(--color-grey-400);
}

.icon_button_primary {
  background: var(--primary-color);
  color: white;
}

.icon_button_primary:hover {
  background: var(--primary-color-hover);
}

.icon_button_ghost {
  background: transparent;
}

.icon_button_ghost:hover {
  background: var(--color-grey-200);
}

.icon_button_icon {
  background: transparent;
}

.icon_button_icon svg {
  color: var(--primary-color);
  transition: var(--transition-normal);
  width: 100%;
  height: 100%;
}

.icon_button_icon:hover {
  background: transparent;
}

.icon_button_icon:hover svg {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .icon_button_icon {
    width: 20px;
    height: 20px;
    padding: 0;
  }

  .icon_button_small {
    width: 28px;
    height: 28px;
  }

  .icon_button_medium {
    width: 36px;
    height: 36px;
  }

  .icon_button_large {
    width: 44px;
    height: 44px;
  }
}